/* .vitepress/theme/index.css */

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

iframe {
  width: 100%; /* 或指定一个具体的宽度值 */
  height: 500px; /* 或指定一个具体的高度值 */
  border: none;
}
.VPContent .VPDoc {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.content-container {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

@media (min-width: 1280px) {
  .content-container .main {
    width: 800px;
  }
}
