/* .vitepress/theme/index.css */

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

iframe {
  width: 100%;  /* 或指定一个具体的宽度值 */
  height: 500px; /* 或指定一个具体的高度值 */
  border: none;
}
